/RemoteControl/.vs
/RemoteControl/.vs/RemoteControl/v17/.suo
/RemoteControl/.vs/RemoteControl/v17/Browse.VC.db
/RemoteControl/.vs/RemoteControl/v17/ipch/391f0b641d7c4892.ipch
/RemoteControl/.vs/RemoteControl/v17/ipch/AutoPCH/8fde8a1632c88bdb/REMOTECONTROL.ipch
/RemoteControl/RemoteClient/RemoteClient.vcxproj.user
/RemoteControl/RemoteControl/RemoteControl.vcxproj.user
/RemoteControl/RemoteControl/RemoteControl.vcxproj.filters
